In [1]:
import pandas as pd
from datetime import date
from dateutil.relativedelta import relativedelta

In [2]:
amount = 66796
last = date(2041,5,6)
rate = 11.73 * 0.87

In [3]:
dates = []

while last > date.today():
    dates.append(last)
    last = last - relativedelta(months=1)

In [4]:
df = pd.DataFrame(dates, columns=["date"])

df['sum'] = amount
df['until_payment'] = [x.days/365 for x in df['date']- date.today()]
df['df'] = 1./pow(1+rate/100, df['until_payment'])
df['npv'] = df['sum'] * df['df']
df['dur'] = df['df'] * df['until_payment'] / (1+rate/100)
df

           date    sum  until_payment        df           npv       dur
0    2041-05-06  66796      17.627397  0.180341  12046.044102  2.884566
1    2041-04-06  66796      17.545205  0.181787  12142.638930  2.894139
2    2041-03-06  66796      17.460274  0.183293  12243.267391  2.903998
3    2041-02-06  66796      17.383562  0.184665  12334.874202  2.912872
4    2041-01-06  66796      17.298630  0.186195  12437.095755  2.922662
..          ...    ...            ...       ...           ...       ...
207  2024-02-06  66796       0.369863  0.964698  64437.934447  0.323765
208  2024-01-06  66796       0.284932  0.972692  64971.944412  0.251486
209  2023-12-06  66796       0.200000  0.980753  65510.379824  0.177987
210  2023-11-06  66796       0.117808  0.988617  66035.694508  0.105682
211  2023-10-06  66796       0.032877  0.996810  66582.945428  0.029737

[212 rows x 6 columns]

In [5]:
npv = df.npv.sum()
duration = df.dur.sum()/df.df.sum()

In [6]:
npv, duration, npv*duration/9

(6768983.126405397, 5.822962124400652, 4379503.596196193)