In [13]:
import pandas as pd
from datetime import date
from dateutil.relativedelta import relativedelta

In [14]:
amount = 66796
last = date(2041,5,6)
rate = 15.48 * 0.87

In [15]:
dates = []

while last > date.today():
    dates.append(last)
    last = last - relativedelta(months=1)

In [16]:
df = pd.DataFrame(dates, columns=["date"])

df['sum'] = amount
df['until_payment'] = [x.days/365 for x in df['date']- date.today()]
df['df'] = 1./pow(1+rate/100, df['until_payment'])
df['npv'] = df['sum'] * df['df']
df['dur'] = df['df'] * df['until_payment'] / (1+rate/100)
df

           date    sum  until_payment        df           npv       dur
0    2041-05-06  66796      16.649315  0.122017   8150.259194  1.790381
1    2041-04-06  66796      16.567123  0.123291   8235.338162  1.800140
2    2041-03-06  66796      16.482192  0.124621   8324.186225  1.810233
3    2041-02-06  66796      16.405479  0.125835   8405.259697  1.819356
4    2041-01-06  66796      16.320548  0.127192   8495.940982  1.829464
..          ...    ...            ...       ...           ...       ...
195  2025-02-06  66796       0.394521  0.951375  63548.071602  0.330788
196  2025-01-06  66796       0.309589  0.961639  64233.668599  0.262377
197  2024-12-06  66796       0.224658  0.972014  64926.662252  0.192452
198  2024-11-06  66796       0.142466  0.982161  65604.419029  0.123317
199  2024-10-06  66796       0.057534  0.992757  66312.201209  0.050338

[200 rows x 6 columns]

In [11]:
npv = df.npv.sum()
duration = df.dur.sum()/df.df.sum()

In [12]:
npv, duration, npv*duration/9

(5406550.842864072, 4.848245512340314, 2912476.206795053)