In [7]:
import pandas as pd
from datetime import date
from dateutil.relativedelta import relativedelta

In [8]:
amount = 66796
last = date(2041,5,6)
rate = 15.1 * 0.87

In [9]:
dates = []

while last > date.today():
    dates.append(last)
    last = last - relativedelta(months=1)

In [10]:
df = pd.DataFrame(dates, columns=["date"])

df['sum'] = amount
df['until_payment'] = [x.days/365 for x in df['date']- date.today()]
df['df'] = 1./pow(1+rate/100, df['until_payment'])
df['npv'] = df['sum'] * df['df']
df['dur'] = df['df'] * df['until_payment'] / (1+rate/100)
df

           date    sum  until_payment        df           npv       dur
0    2041-05-06  66796      16.945205  0.130116   8691.199170  1.954832
1    2041-04-06  66796      16.863014  0.131409   8777.596230  1.964688
2    2041-03-06  66796      16.778082  0.132759   8867.775563  1.974876
3    2041-02-06  66796      16.701370  0.133990   8950.023934  1.984080
4    2041-01-06  66796      16.616438  0.135367   9041.974756  1.994270
..          ...    ...            ...       ...           ...       ...
199  2024-10-06  66796       0.353425  0.958358  64014.461896  0.300302
200  2024-09-06  66796       0.271233  0.967885  64650.813820  0.232755
201  2024-08-06  66796       0.186301  0.977828  65315.023829  0.161515
202  2024-07-06  66796       0.101370  0.987874  65986.057804  0.088786
203  2024-06-06  66796       0.019178  0.997695  66642.008875  0.016964

[204 rows x 6 columns]

In [11]:
npv = df.npv.sum()
duration = df.dur.sum()/df.df.sum()

In [12]:
npv, duration, npv*duration/9

(5812479.269208534, 5.111514221590712, 3301174.4941400676)