In [1]:
import pandas as pd
from datetime import date
from dateutil.relativedelta import relativedelta

In [2]:
amount = 66796
last = date(2041,5,6)
rate = 10.9 * 0.87

In [3]:
dates = []

while last > date.today():
    dates.append(last)
    last = last - relativedelta(months=1)

In [4]:
df = pd.DataFrame(dates, columns=["date"])

df['sum'] = amount
df['until_payment'] = [x.days/365 for x in df['date']- date.today()]
df['df'] = 1./pow(1+rate/100, df['until_payment'])
df['npv'] = df['sum'] * df['df']
df['dur'] = df['df'] * df['until_payment'] / (1+rate/100)
df

           date    sum  until_payment        df           npv       dur
0    2041-05-06  66796      17.912329  0.197337  13181.341831  3.228602
1    2041-04-06  66796      17.830137  0.198812  13279.863075  3.237808
2    2041-03-06  66796      17.745205  0.200348  13382.442029  3.247276
3    2041-02-06  66796      17.668493  0.201745  13475.774870  3.255788
4    2041-01-06  66796      17.583562  0.203304  13579.867125  3.265166
..          ...    ...            ...       ...           ...       ...
210  2023-11-06  66796       0.402740  0.964170  64402.686094  0.354676
211  2023-10-06  66796       0.317808  0.971617  64900.158106  0.282042
212  2023-09-06  66796       0.235616  0.978880  65385.241067  0.210663
213  2023-08-06  66796       0.150685  0.986441  65890.302725  0.135767
214  2023-07-06  66796       0.065753  0.994061  66399.265682  0.059701

[215 rows x 6 columns]

In [5]:
npv = df.npv.sum()
duration = df.dur.sum()/df.df.sum()

In [6]:
npv, duration, npv*duration/9

(7081770.489899548, 6.087731580147451, 4790213.09496864)