In [12]:
import pandas as pd
from datetime import date
from dateutil.relativedelta import relativedelta

In [13]:
amount = 66796
last = date(2041,5,6)
rate = 10.5 * 0.87

In [14]:
dates = []

while last > date.today():
    dates.append(last)
    last = last - relativedelta(months=1)

In [15]:
df = pd.DataFrame(dates, columns=["date"])

df['sum'] = amount
df['until_payment'] = [x.days/365 for x in df['date']- date.today()]
df['df'] = 1./pow(1+rate/100, df['until_payment'])
df['npv'] = df['sum'] * df['df']
df['dur'] = df['df'] * df['until_payment'] / (1+rate/100)
df

           date    sum  until_payment        df           npv       dur
0    2041-05-06  66796      18.249315  0.202853  13549.787852  3.392068
1    2041-04-06  66796      18.167123  0.204316  13647.491380  3.401140
2    2041-03-06  66796      18.082192  0.205839  13749.191879  3.410466
3    2041-02-06  66796      18.005479  0.207224  13841.701642  3.418847
4    2041-01-06  66796      17.920548  0.208768  13944.849387  3.428077
..          ...    ...            ...       ...           ...       ...
214  2023-07-06  66796       0.402740  0.965407  64485.314731  0.356263
215  2023-06-06  66796       0.320548  0.972368  64950.299334  0.285601
216  2023-05-06  66796       0.235616  0.979614  65434.306078  0.211493
217  2023-04-06  66796       0.153425  0.986678  65906.133577  0.138710
218  2023-03-06  66796       0.068493  0.994031  66397.263156  0.062385

[219 rows x 6 columns]

In [16]:
npv = df.npv.sum()
duration = df.dur.sum()/df.df.sum()

In [17]:
npv, duration, npv*duration/9

(7287195.281937933, 6.257663488535851, 5066757.316623746)