In [1]:
import pandas as pd
from datetime import date
from dateutil.relativedelta import relativedelta

In [2]:
amount = 66796
last = date(2041,5,6)
rate = 10.7 * 0.87

In [3]:
dates = []

while last > date.today():
    dates.append(last)
    last = last - relativedelta(months=1)

In [4]:
df = pd.DataFrame(dates, columns=["date"])

df['sum'] = amount
df['until_payment'] = [x.days/365 for x in df['date']- date.today()]
df['df'] = 1./pow(1+rate/100, df['until_payment'])
df['npv'] = df['sum'] * df['df']
df['dur'] = df['df'] * df['until_payment'] / (1+rate/100)
df

           date    sum  until_payment        df           npv       dur
0    2041-05-06  66796      18.224658  0.197474  13190.447507  3.292400
1    2041-04-06  66796      18.142466  0.198924  13287.299644  3.301617
2    2041-03-06  66796      18.057534  0.200433  13388.127344  3.311097
3    2041-02-06  66796      17.980822  0.201806  13479.854991  3.319620
4    2041-01-06  66796      17.895890  0.203338  13582.143854  3.329011
..          ...    ...            ...       ...           ...       ...
214  2023-07-06  66796       0.378082  0.966907  64585.546774  0.334438
215  2023-06-06  66796       0.295890  0.974007  65059.772396  0.263656
216  2023-05-06  66796       0.210959  0.981398  65553.463921  0.189403
217  2023-04-06  66796       0.128767  0.988604  66034.796569  0.116459
218  2023-03-06  66796       0.043836  0.996106  66535.886847  0.039946

[219 rows x 6 columns]

In [5]:
npv = df.npv.sum()
duration = df.dur.sum()/df.df.sum()

In [6]:
npv, duration, npv*duration/9

(7224405.536041843, 6.1893977276364165, 4968302.134255704)