In [1]:
import pandas as pd
from datetime import date
from dateutil.relativedelta import relativedelta

In [2]:
amount = 66796
last = date(2041,5,6)
rate = 10.74 * 0.87

In [3]:
dates = []

while last > date.today():
    dates.append(last)
    last = last - relativedelta(months=1)

In [4]:
df = pd.DataFrame(dates, columns=["date"])

df['sum'] = amount
df['until_payment'] = [x.days/365 for x in df['date']- date.today()]
df['df'] = 1./pow(1+rate/100, df['until_payment'])
df['npv'] = df['sum'] * df['df']
df['dur'] = df['df'] * df['until_payment'] / (1+rate/100)
df

           date    sum  until_payment        df           npv       dur
0    2041-05-06  66796      18.216438  0.196476  13123.781213  3.273240
1    2041-04-06  66796      18.134247  0.197923  13220.489725  3.282483
2    2041-03-06  66796      18.049315  0.199431  13321.170583  3.291990
3    2041-02-06  66796      17.972603  0.200802  13412.766998  3.300538
4    2041-01-06  66796      17.887671  0.202331  13514.912147  3.309957
..          ...    ...            ...       ...           ...       ...
214  2023-07-06  66796       0.369863  0.967501  64625.204456  0.327264
215  2023-06-06  66796       0.287671  0.974631  65101.424476  0.256414
216  2023-05-06  66796       0.202740  0.982053  65597.205451  0.182087
217  2023-04-06  66796       0.120548  0.989290  66080.588099  0.109066
218  2023-03-06  66796       0.035616  0.996824  66583.825912  0.032469

[219 rows x 6 columns]

In [5]:
npv = df.npv.sum()
duration = df.dur.sum()/df.df.sum()

In [6]:
npv, duration, npv*duration/9

(7214167.616951116, 6.172789428789828, 4947948.622603751)