In [43]:
import pandas as pd
from datetime import date
from dateutil.relativedelta import relativedelta

In [44]:
amount = 66796
last = date(2041,5,6)
rate = 10.4 * 0.87

In [45]:
dates = []

while last > date.today():
    dates.append(last)
    last = last - relativedelta(months=1)

In [46]:
df = pd.DataFrame(dates, columns=["date"])

df['sum'] = amount
df['until_payment'] = [x.days/365 for x in df['date']- date.today()]
df['df'] = 1./pow(1+rate/100, df['until_payment'])
df['npv'] = df['sum'] * df['df']
df['dur'] = df['df'] * df['until_payment'] / (1+rate/100)
df

           date    sum  until_payment        df           npv       dur
0    2041-05-06  66796      18.271233  0.205437  13722.353772  3.442138
1    2041-04-06  66796      18.189041  0.206905  13820.395698  3.451136
2    2041-03-06  66796      18.104110  0.208432  13922.441638  3.460385
3    2041-02-06  66796      18.027397  0.209822  14015.259643  3.468694
4    2041-01-06  66796      17.942466  0.211371  14118.744404  3.477844
..          ...    ...            ...       ...           ...       ...
215  2023-06-06  66796       0.342466  0.970772  64843.683961  0.304871
216  2023-05-06  66796       0.257534  0.977940  65322.471607  0.230956
217  2023-04-06  66796       0.175342  0.984927  65789.180237  0.158370
218  2023-03-06  66796       0.090411  0.992199  66274.949163  0.082263
219  2023-02-06  66796       0.013699  0.998814  66716.790377  0.012547

[220 rows x 6 columns]

In [47]:
npv = df.npv.sum()
duration = df.dur.sum()/df.df.sum()

In [48]:
npv, duration, npv*duration/9

(7379869.161812723, 6.243903647863401, 5119910.220021898)